@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Vidaloka');
html{background:linear-gradient(to bottom left, #413539, #302428);}
body{position:relative;margin:0;padding:0;
  color:#202123;background-color:#fff;border:0 solid #fabada;
  box-shadow:0 0 6px rgba(0,0,0,.3);
  font-size:1em;line-height:1.6;font-family: 'Cabin', Arial, Helvetica, sans-serif;
  cursor:default;
}
@media (min-width: 64em) {
  body{max-width:64rem;margin:1rem auto;}
}

/*GENERIC*/
h1, h2{font-family: 'Vidaloka', Arial, Helvetica, sans-serif;}
ul{list-style:none;margin:0 0 1rem;padding:0;}
ul:last-child{margin-bottom:0;}
time + time:before{content:"";}
p{margin:0 0 1em;}
mark{color:inherit;background-color:transparent;}
a{margin:0 -2px;padding:0 2px;color:#000;text-decoration:none;transition:.3s;}
a:visited{color:inherit;transition:.3s;}
a:hover, a:focus{color:#fff;text-decoration:underline;transition:.3s;}
a:active{color:038;transition:.3s;}
::selection{color:#000;background-color:#998F6B;}


/*HEADER*/
header{position:relative;padding:0;color:#202123;background-color:#fff;text-align:center;}
header figure{display:block;margin:0 0 1rem;text-align:center;}
header img{width:100%;height:100%;object-fit:cover;filter:grayscale(85%) brightness(75%) contrast(150%) hue-rotate(35deg);}
header h1{margin:0 0 .5rem;padding:5rem 0 0;color:#202123;font-size:3.25rem;line-height:1;letter-spacing:.4rem;text-indent:-.1rem;}
header h2{margin:0 0 .25rem;padding:0 0 .5rem;color:#202123;font-size:1.2rem;font-family: 'Cabin', Arial, Helvetica, sans-serif;line-height:1.2;text-transform:none;}
header p{margin:0;}
@media (min-width: 64em) {
  header{text-align:left;}
  header figure{float:left;display:block;width:50%;height:440px;margin:0 5.25% 0 0;}
  header::after{content:"";display:block;clear:both;width:100%;}
}

section{margin:0;padding:0;color:#fff;background-color:#000;}
section h2{margin:0;padding:0;text-transform:uppercase;}
section h3{margin:0;padding:0;}
section::after{content:"";display:block;clear:both;width:100%;}
section:nth-child(even) h2{margin:0;color:#000;background-color:#fff;}
section:nth-child(odd) ul{margin:0;color:#202123;background-color:#fff;}
section:nth-child(even) h3{color:#998F6B;}
aside section:nth-child(even) h2{margin:0;color:#fff;background-color:#000;}
aside section:nth-child(odd) h2{margin:0;color:#202123;background-color:#fff;}
aside section:nth-child(odd) ul{margin:0;color:#fff;background-color:#000;}
aside section:nth-child(even) ul{margin:0;color:#000;background-color:#fff;}
section h3 mark{display:block;font-size:1rem;font-weight:normal;font-style:italic;}
section p mark::before{content:"_ ";}
section time{color:#757575;}
section time + time::before{content:" - ";}
.lc span::before, .gm span::before, .tw a::before, .in a::before, .gh a::before,
.cp a::before{content:"";display:inline-block;width:16px;height:16px;margin:.1rem .5rem 0 0;background:url(../img/gmail.svg) no-repeat 50%;background-size:contain;}
.lc span::before{background-image:url(../img/location.svg);background-color:#fff;}
.gm span::before{background-image:url(../img/gmail.svg);}
.tw a::before{background-image:url(../img/linkedin.svg);}
.in a::before{background-image:url(../img/twitter.svg);}
.gh a::before{background-image:url(../img/github.svg);background-color:#fff;}
.cp a::before{background-image:url(../img/codepen.svg);background-color:#fff;}
@media (min-width: 64em) {
  section{display:grid;grid-template-columns:1fr 1fr}
  section h2{grid-column: 1;vertical-align:middle;padding:4rem 25%;font-size:6rem;line-height:1;word-break:break-all;letter-spacing:.75rem;}
  section h2::after{content:"—";display:inline;}
  section h2 + ul,
  section h2 + p{grid-column: 2;padding:2rem 10%;}
  .profile p{margin:0;color:#202123;background-color:#fff;}
  .profile h2{font-size:3rem;}
  .experience-extra h2, .education-extra h2, aside h2{font-size:4rem;}
  .education h2{font-size:5rem;}
}

/*MAIN*/

/*FOOTER*/
footer{padding:1rem 10%;color:#fff;background-color:#000;}
footer p{display:inline-block;font-size:1.25rem;line-height:1rem;font-weight:normal;font-family: 'Vidaloka', Arial, Helvetica, sans-serif;}
footer ul{display:inline-block;margin:0;padding:0;}
footer p{display:inline-block;margin:0;}
footer li{display:inline-block;margin:0;}
footer > ul a,
footer > ul a:hover, footer > ul a:focus, footer > ul a:visited{color:#fff;}

/*NAV*/
nav{}
nav a{}
nav a:hover, nav a:focus{background-color:#350000;}

nav{position:absolute;z-index:1;right:3px;top:0;padding:0;text-align:center;transition:.25s;}
nav h2{position:absolute;top:-999em;left:-999em;display:none;width:10rem;color:#757575;font-size:.875rem;text-align:left;transition:.25s;}
nav:hover h2, nav:focus h2{display:block;transition:.25s;}
nav a, nav a:visited{position:relative;padding:.1rem .5rem .25rem;margin:0;color:#000;background-color:#fff;border:1px solid #998F6B;text-decoration:none;text-align:center;transition:.25s;}
nav a:hover, nav a:focus{color:#000;background-color:#e4e4e4;transition:.3s;outline:none;text-decoration:none;box-shadow:inset 1px -1px 2px rgba(0,0,0,.25);}
nav a:active{color:#fff;background-color:#757575;box-shadow:inset 2px -2px 6px rgba(0,0,0,.5);}
nav a::after{content:"Presentación: " attr(title);position:absolute;top:140%;right:5px;display:none;width:8rem;padding:.25rem .15rem;color:#000;background-color:#998F6B;box-shadow:2px 2px 6px rgba(0,0,0,.3);font-size:.75rem;transition:.3s;}
nav a::before{content:"";position:absolute;top:100%;right:25%;display:none;width:0;border:5px solid#998F6B;border-color:transparent transparent #998F6B;}
nav a:hover::before, nav a:focus::before,
nav a:hover::after, nav a:focus::after{display:block;transition:.3s;}
nav .alte a{color:#000;background-color:#998F6B;}
@media (min-width:75em) {
  nav{}
  nav a::after{right:-3.5rem;}
}
